.final-subtotal {
  border-top: 1px solid #e9eaea;
  padding-top: 10px;
  margin-top: 10px;
}
.totals {
  margin-top: 8px;
  font-size: 1.5rem;
}
.totals .totals__subtotal {
  font-size: 1.5rem;
}
.totals .totals__subtotal-value {
  font-size: 1.5rem;
}
.final-subtotal .totals__subtotal {
  font-weight: 600;
  font-size: 1.8rem;
}
.final-subtotal .totals__subtotal-value {
  font-weight: 600;
  font-size: 1.8rem;
}