/* --------receipe-article-css--------*/
.article__breadcrumb {
  max-width: 1253px;
  margin: 20px auto 0;
}
.receipe-article-inner-container {
    max-width: 1253px;
    margin: auto;
    margin-bottom: 50px;
}
.receipe-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin: 20px 0 50px;
}
.receipe-content--image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article-body--title{
    font-size: 36px;
    font-weight: 700;
    color: #013564;
    margin: 0;
}
.posted-date{
    font: normal normal normal 16px/24px Mulish;
    color: #7C828A;
}
.date-share-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 1px solid #D4D4D4;
    gap: 15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.ingredient-method-container{
    border: 1px solid #E3E3E3;
    display: grid;
    grid-template-columns: .4fr .6fr;
    background: #FAFAFA;
    margin-bottom: 50px;
}
.ingredient-content, .method-content {
    padding-left: 35px;
    padding-top: 30px;
    padding-right: 20px;
}
.ingredient{
    border-right: 1px solid #E3E3E3;
}
.ingredient-content ul li{
    list-style-type: none;
    color: #434343;
    font-size: 16px;
}
.method-content ul li{
    list-style-type: none;
    color: #434343;
    font-size: 16px;
    padding-bottom: 10px;
}
.ingredient-content ul li::before,
.method-content ul li::before{
    content: '';
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #BABABA;
    display: inline-block;
    margin-right: 10px;
}
.method-content ul li::before{
    margin-left: -17px;
}
.ingredient-method-container strong {
    font: normal normal bold 18px/38px Mulish;
    color: #000;
}

@media screen and (max-width:425px) {
  .receipe-article-inner-container .receipe-content {
      grid-template-columns: 1fr;
      margin: unset;
      gap: unset;
  }
  .receipe-content--image {
      padding: 20px;
  }
  .article-body--title {
      font-size: 24px;
      line-height: 32px;
  }
  .posted-date {
      padding-top: 10px;
      font: normal normal normal 12px/24px Mulish;
  }
  .ingredient-method-container {
      grid-template-columns: unset;
      margin: 0 20px;
      margin-bottom: 20px;
  }
  .ingredient {
      border-right: unset;
      border-bottom: 1px solid #E3E3E3;
  }
  .receipe-content--text {
      padding: 20px;
      padding-top: unset;
  }
  .method-content ul li{
      font-size: 15px;
  }
  .social-icon{
      height: 26px;
      width: 26px;
  }
}